@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(190, 151, 114);
}

.container {
  width: 570px;
  padding: 40px;
  background: rgb(218, 214, 201);
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.container h3 {
  font-size: 30px;
  margin-bottom: 15px;
}

.container textarea {
  position: relative;
  margin-bottom: 15px;
  resize: none;
  height: 200px;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border: none;
  outline: n;
}

.container p .count {
  font-size: 17px;
  color: #f00;
  font-weight: 600;
  margin-left: 5px;
}

.container .section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
}

.container .btn {
  padding: 9px 15px;
  margin-top: 4px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #af654c;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
}

.btn:hover {
  background-color: #92624c;
}

.btn:active {
  background-color: #92624c;
  transform: translateY(1px);
}
